In [1]:
import pandas as pd

In [5]:
MOESM1_ESM = pd.read_excel('./13073_2022_1150_MOESM1_ESM.xlsx')
MOESM2_ESM= pd.read_excel('./13073_2022_1150_MOESM2_ESM.xlsx')
MOESM3_ESM= pd.read_excel('./13073_2022_1150_MOESM3_ESM.xlsx')
MOESM4_ESM= pd.read_excel('./13073_2022_1150_MOESM4_ESM.xlsx')

In [6]:
MOESM1_ESM.head()

,Sample ID1,MDR Status2,ESBL,FLQ3,Phylogroup,Serotype,MLST4,FimH Type,Facility,Patient ID5,Collection Date,Isolate Type,Primary Isolate,cgMLST cluster detection,Unnamed: 14,Unnamed: 15,SNP cluster validation,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Cluster ID6,No. of Patients,No. of Isolates,Cluster ID7,No. of Patients,No. of Isolates
1,697664,non-MDR,NaN,S,B2,O99:H6,1859,fimH5,F19,P168,2019-10-03,Urine,yes,31-ST1859,6,8,q,6,8
2,698264,non-MDR,NaN,S,B2,O99:H6,1859,fimH5,F19,P221,2019-10-12,Urine,yes,31-ST1859,6,8,q,6,8
3,758127,non-MDR,NaN,S,B2,O99:H6,1859,fimH5,F16,P847,2020-02-10,Urine,yes,31-ST1859,6,8,q,6,8
4,768195,non-MDR,NaN,S,B2,O99:H6,1859,fimH5,F19,P1036,2020-03-27,Urine,yes,31-ST1859,6,8,q,6,8

In [7]:
MOESM2_ESM.head()

,Sample ID1,Primary isolates,Patient ID,MLST2,MDR Status3,No. of Non-Susceptibility Classes,Aminoglycosides,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Monobactams,Unnamed: 33,Fluoroquinolones,Unnamed: 35,Unnamed: 36,Unnamed: 37,Folate pathway inhibitors,Unnamed: 39,Tetracyclines,Unnamed: 41
0,NaN,NaN,NaN,NaN,NaN,NaN,Amikacin,NaN,Gentamicin,NaN,...,Aztreonam,NaN,Ciprofloxacin,NaN,Levofloxacin,NaN,Trimethoprim/sulfamethoxazole,NaN,Tetracycline,NaN
1,766525,NaN,P627,131,MDR,11.0,S,≤8,R,>8,...,R,>16,R,>2,R,>4,R,>2/38,R,>8
2,747823,yes,P627,131,MDR,10.0,S,≤8,R,>8,...,R,>16,R,>2,R,>4,R,>2/38,R,>8
3,766509,NaN,P627,131,MDR,10.0,S,≤8,R,>8,...,R,>16,R,>2,R,>4,R,>2/38,R,>8
4,792831,yes,P107,410,MDR,10.0,S,≤8,R,>8,...,R,>16,R,>2,R,>4,R,>2/38,R,>8